<!-- lyrics from collection -->
{%- if include.slug -%}
  {%- assign theSlug = include.slug -%}
{%- elsif page.slug -%}
  {%- assign theSlug = page.slug -%}
{%- endif -%}
{% if theSlug %}
<!-- theSlug = {{ theSlug }} -->
{%- assign lyrics = site.lyrics | where: 'slug', theSlug -%}
{% for theLyrics in lyrics %}
  <section style="break-inside: avoid; break-after: page;">
    <h3 class="granjon">{{ theLyrics.title }}</h3>
    <div class="lyrics">
      {{- theLyrics.content -}}
    </div>
  </section>
{% endfor %}
{% else %}
<p>No slug provided!</p>
{% endif %}
